.title_2{
    width: 536px;
    height: 48px;
    margin-top: 70px;
    margin-left: 139px;
    font-weight: 700;
    font-family: 'Montserrat';
}
.row{
    width: 1200px;
    height: 288px;
    margin-left: 178px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.tavar_p{
    text-align: center;
    font-family: 'Montserrat' ;
    font-weight: 500;
    font-size: 16px ;
    align-items: center;
}
.col{
    width: 160px;
    height: 128px;
    border-radius: 15px;
    padding: 24px, 52px, 24px, 52px;
    background-color: #EDEDED;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: ;
}