.btn {
  display: flex;
  width: 137px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 108px;
  background: #2a2b2c;
  margin-left: 139px;
  margin-top: 29px;
}
.arrow {
  margin-left: 14px;
  width: 20px;
  height: 16px;
  flex-shrink: 0;
  margin-top: 16px;
}
.catalog_button {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
  margin-left: 190px;
  margin-top: -37px;
}
.i {
  color: #202020;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  width: 1010px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 26px;
  border: 1px solid #e2e5e9;
  background: #f6f6f8;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  margin-top: -52px;
  margin-left: 40px;
}
input {
  padding-left: 27px;
  padding-top: 3px;
}
.katalog_menu {
  display: flex;
}
.search_icon {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  border-radius: 90px;
  background: #292929;
  width: 110px;
  height: 50px;
  flex-shrink: 0;
  color: white;
  margin-left: -108px;
  margin-top: -52px;
  display: flex;
  justify-content: center;
  align-items: center;
}


